
node_modules/

# Log-Dateien
*.log

# Temporäre Dateien von Texteditoren (z.B. VS Code, Sublime)
.vscode/
.idea/

# MacOS System-Dateien
.DS_Store

# Windows System-Dateien
Thumbs.db

# Python Bytecode-Dateien
*.pyc

# Build-Ordner (falls du ein Frontend-Framework verwendest)
dist/
build/

# Ignoriere `.gitignore` selbst (falls du dies möchtest)
.gitignore


